absl-py==2.3.0
accelerate==1.7.0
appdirs==1.4.4
atomicwrites==1.4.0
diffusers==0.33.1
dotenv==0.9.9
fastapi==0.115.13
flatbuffers==25.2.10
huggingface-hub==0.32.2
jax==0.6.2
jaxlib==0.6.2
jiter==0.10.0
jsonpointer==2.1
lxml==5.2.1
matplotlib==3.9.2
mediapipe==0.10.0
mkl-service==2.4.0
ml_dtypes==0.5.1
openai==1.82.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
safetensors==0.5.3
sentencepiece==0.2.0
setuptools==75.1.0
sounddevice==0.5.2
starlette==0.46.2
sympy==1.14.0
tokenizers==0.21.1
torch==2.7.0
transformers==4.52.3
uvicorn==0.34.3
wheel==0.44.0
